@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Jacquarda+Bastarda+9&family=Jersey+10&display=swap');

*{
    font-family: "DotGothic16", sans-serif;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: aliceblue;
}

body {
    background-color: #0a0a0a;
    color: aliceblue;
}

.btn-wrapper {
    /* flexbox */
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.btn {
    color: #000000;
    background-color: #fff;
    border: 2px solid #cecece;
    padding: .35rem 1rem .25rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

#made{
    font-size: 1rem;
    font-weight: 100;
}

#title{
    font-size: 4.5rem;
    font-weight: lighter;
    margin: -0.5rem;
    margin-top: 1rem;
    text-align: left;
}

#hello{
    font-size: 2rem;
    font-weight: lighter;
    text-align: left;
}

#frase{
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
}

.btn:hover {
    background-color: #ecf2fd;
}

.btn:active {
    background-color: #d1e0fe;
}

.btn:focus {
    outline: none;
    border: black solid 2px;
}

.btn-primary {
    color: #ffffff;
    background-color: #0a0a0a;
    border: 1px solid aliceblue;
    width: 100%;
    padding: .75rem;
    font-size: 1.3rem;
    margin: 1rem 0;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: none;
}

@keyframes borderAlt {
    0% {
      border-color: #0a0a0a;
    }
    50% {
      border-color: aliceblue;
    }
    100% {
      border-color: #0a0a0a;
    }
  }
  
  .btn-primary {
    transition: none;
  }
  
  .btn-primary:hover {
    animation: borderAlt 1.5s steps(1) infinite;
  }

.btn-primary:active {
    border: 1px solid aliceblue;
}